{% extends "base.html" %}

{% block content %}
    <h1>Создание магазина</h1>
    
    <form method="POST" class="shop-form">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                <div class="errors">{{ form.name.errors[0] }}</div>
            {% endif %}
        </div>
        
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}